<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mwongera.paediatric_protocols">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrugDescriptionActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_drug_description"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.MaintenanceFluids"></activity>
        <activity android:name=".Resuscitation" />
        <activity android:name=".BasicSupport" />
        <activity android:name=".Anthropometry" />
        <activity android:name=".AnthropometryWeightImages" />
        <activity android:name=".Asthma" />
        <activity android:name=".Convulsions" />
        <activity android:name=".DrugActivity1" />
        <activity android:name=".FeedingActivity" />
        <activity android:name=".FluidDiarrhoeaCalculation" />
        <activity android:name=".FluidinDiarrhoea" />
        <activity android:name=".HIV" />
        <activity android:name=".InfantSupport" />
        <activity android:name=".Jaundice" />
        <activity android:name=".MajorIllnessDescriptionActivity" />
        <activity android:name=".Malaria" />
        <activity android:name=".MalariaDoses" />
        <activity android:name=".MalariaTreatmentPreparation" />
        <activity android:name=".Malnutrition" />
        <activity android:name=".MalnutritionFeeding" />
        <activity android:name=".ManagementinSAM" />
        <activity android:name=".Meningitis" />
        <activity android:name=".NeonatalJaundice" />
        <activity android:name=".NeonatalSepsis" />
        <activity android:name=".NewbornCare" />
        <activity android:name=".NewBornFluids" />
        <activity android:name=".PITC" />
        <activity android:name=".PlanAActivity" />
        <activity android:name=".PlanBActivity" />
        <activity android:name=".PlanCActivity" />
        <activity android:name=".PMCT" />
        <activity android:name=".Pneumonia" />
        <activity android:name=".Sepsis" />
        <activity android:name=".ShockActivity" />
        <activity android:name=".TableActivity" />
        <activity android:name=".TreatmentFailure" />
        <activity android:name=".Tuberculosis" />
        <activity android:name=".fragment.TriageOfSickChildren" />

    </application>

</manifest>